<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <title>Lift Log</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap 4 BETA CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/styles.css">

  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark">
      <a class="navbar-brand" href="/"><img src="img/barbell.png"> Workout Log</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link active" href="workouts"><i class="fa fa-pencil" aria-hidden="true"></i> Workouts <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="history"><i class="fa fa-bar-chart" aria-hidden="true"></i> History</a>
          </li>
        </ul>
        <!-- THIS IS HIDDEN FOR MD AND LARGER SCREENS -->
        <form class="d-md-none">
          <input class="form-group form-control" type="text" placeholder="username" aria-label="Username">
          <input class="form-group form-control" type="password" placeholder="password" aria-label="password">
          <button class="btn btn-block btn-outline-light btn-sm mb-3" type="submit"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</button>
        </form>

        <!-- LOGIN MODAL TRIGGER BUTTON -->
        <button type="button" class="btn mr-2 btn-outline-light col-md-2 btn-sm d-none d-md-block" data-toggle="modal" data-target="#loginModel">
          <i class="fa fa-sign-in" aria-hidden="true"></i> Login
        </button>
        
       <!-- SIGN UP BUTTON ALWAYS DISPLAYED -->
        <button type"button" class="btn btn-outline-light btn-sm col-md-2 btn-block" data-toggle="modal" data-target="#signUpModel">
          <i class="fa fa-user-plus" aria-hidden="true"></i> Sign Up
        </button>
      
      </div>
    </nav>

    <!-- LOGIN MODAL -->
    <div class="modal fade" id="loginModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="exampleModalLabel">Login</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <input class="form-group form-control" type="text" placeholder="username" aria-label="Username">
              <input class="form-group form-control" type="password" placeholder="password" aria-label="password">
              <button class="btn btn-block btn-outline-dark btn-sm mb-3" type="submit">Login</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- END LOGIN MODAL -->
    
    <!-- SIGN UP MODAL -->
    <div class="modal fade" id="signUpModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="exampleModalLabel">Sign Up</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <input class="form-group form-control" type="text" placeholder="username" aria-label="Username">
              <input class="form-group form-control" type="password" placeholder="password" aria-label="password">
              <button class="btn btn-block btn-outline-dark btn-sm mb-3" type="submit">Sign Up</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- END SIGN UP MODAL -->

    <div class="container mb-5">
      <div class="row">
        <!-- EXERCISES -->
        <div class="col-sm-6 workouts">
            <a data-toggle="collapse" href="#collapseExercise" aria-expanded="false" aria-controls="collapseExercise">
                <h1>Exercises</h1>
            </a>
            <form action="/exercises" method="POST">
              <input id="add-exercise" type="text" name="name" placeholder="Add an exercise" required>
              <button class="btn btn-block btn-outline-light mt-2 mb-2">Add Exercise</button>
            </form>
            <ul id="collapseExercise" class="list-unstyled collapse show">
                <% exercises.forEach(function(exercise){ %>
                  <li><%= exercise.name %></li>
                <% }); %>
            </ul>
        </div>

        <!-- WORKOUTS -->
        <div class="col-sm-6 workouts">
            <a data-toggle="collapse" href="#collapseWorkouts" aria-expanded="false" aria-controls="collapseWorkouts">
                <h1>Workouts</h1>
            </a>
            <form action="/add-workout" method="GET"><!--<form action="/workouts" method="POST">-->
              <input id="add-workout" type="text" name="name" placeholder="Add a workout" required>
              <button class="btn btn-block btn-outline-light mt-2 mb-2">Add Workout</button>
            </form>
            <ul id="collapseWorkouts" class="list-unstyled collapse show">
                <% workouts.forEach(function(workout){ %>
                  <li><a href="do-workout/<%= workout._id %>"><%= workout.name %></a></li>
                <% }); %>
            </ul>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.js/dist/umd/popper.min.js"></script>
    <script src="js/tether.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/liftlog.js"></script>
  
  </body>
</html>